# Pandas確認課題

このPandas確認問題は、データサイエンス100本ノックの問題で最低限必要な問題を抜粋したものです。

## 必要モジュールのインポート

この問題で使うモジュールをインポートします．

In [1]:
import pandas as pd
import numpy as np

## データの読み込み

In [2]:
df_customer = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/customer.csv')
df_product = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/product.csv')
df_receipt = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/receipt.csv')

---
## 問1. 条件抽出
> P-006: レシート明細データフレーム「df_receipt」から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上数量（quantity）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上または売上数量（quantity）が5以上

In [25]:
df_receipt = df_receipt.loc[:, ["sales_ymd", "customer_id", "product_cd", "quantity", "amount"]]
df_receipt_1 = df_receipt[df_receipt["customer_id"] == "CS018205000001" ]
df_receipt_1

       sales_ymd     customer_id  product_cd  quantity  amount
36      20180911  CS018205000001  P071401012         1    2200
9843    20180414  CS018205000001  P060104007         6     600
21110   20170614  CS018205000001  P050206001         5     990
27673   20170614  CS018205000001  P060702015         1     108
27840   20190216  CS018205000001  P071005024         1     102
28757   20180414  CS018205000001  P071101002         1     278
39256   20190226  CS018205000001  P070902035         1     168
58121   20190924  CS018205000001  P060805001         1     495
68117   20190226  CS018205000001  P071401020         1    2200
72254   20180911  CS018205000001  P071401005         1    1100
88508   20190216  CS018205000001  P040101002         1     218
91525   20190924  CS018205000001  P091503001         1     280

In [26]:
df_receipt_2 = df_receipt[(df_receipt["amount"] >= 1000) | (df_receipt["quantity"] >= 5)]
df_receipt_2

        sales_ymd     customer_id  product_cd  quantity  amount
17       20181225  ZZ000000000000  P071401002         1    1100
36       20180911  CS018205000001  P071401012         1    2200
40       20170501  CS004415000232  P090301078         1    1880
73       20170523  CS028415000203  P071401019         1    2200
75       20180310  ZZ000000000000  P071401002         1    1100
...           ...             ...         ...       ...     ...
104622   20170801  CS017515000174  P090701080         1    1280
104656   20170730  CS005515000093  P071401018         1    2200
104662   20191024  CS011411000001  P071401001         1    1100
104666   20170330  CS017411000016  P071401013         1    2200
104669   20190726  CS006615000114  P071301002         1    2485

[8451 rows x 5 columns]

---
## 問2. ソート
> P-18: 顧客データフレーム（df_customer）を生年月日（birth_day）で若い順にソートし、先頭5件を全項目表示せよ。

In [4]:
df_customer.sort_values("birth_day", ascending=False)
df_customer.head(5)

,customer_id,customer_name,gender_cd,gender,birth_day,age,postal_cd,address,application_store_cd,application_date,status_cd
0,CS021313000114,大野 あや子,1,女性,1981-04-29,37,259-1113,神奈川県伊勢原市粟窪**********,S14021,20150905,0-00000000-0
1,CS037613000071,六角 雅彦,9,不明,1952-04-01,66,136-0076,東京都江東区南砂**********,S13037,20150414,0-00000000-0
2,CS031415000172,宇多田 貴美子,1,女性,1976-10-04,42,151-0053,東京都渋谷区代々木**********,S13031,20150529,D-20100325-C
3,CS028811000001,堀井 かおり,1,女性,1933-03-27,86,245-0016,神奈川県横浜市泉区和泉町**********,S14028,20160115,0-00000000-0
4,CS001215000145,田崎 美紀,1,女性,1995-03-29,24,144-0055,東京都大田区仲六郷**********,S13001,20170605,6-20090929-2

---
## 問3. 全件数
> P-021: レシート明細データフレーム（df_receipt）に対し、件数をカウントせよ。

In [5]:
len(df_receipt)

104681

## 問4. ユニーク件数
> P-022: レシート明細データフレーム（df_receipt）の顧客ID（customer_id）に対し、ユニーク件数をカウントせよ。

In [6]:
len(df_receipt["customer_id"].unique())

8307

---
## 問5. 〇〇ごとに集計
> P-035: レシート明細データフレーム（df_receipt）に対し、顧客ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求め、平均以上に買い物をしている顧客を抽出せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、データは先頭5件だけ表示せよ。

会員のみを抽出する方法は、例えば以下の2通りの方法があります。

In [7]:
df_receipt_only_member = df_receipt[~df_receipt["customer_id"].str.startswith("Z")]
df_receipt_only_member = df_receipt.query("not customer_id.str.startswith('Z')", engine="python")
df_receipt_only_member

        sales_ymd     customer_id  product_cd  quantity  amount
0        20181103  CS006214000001  P070305012         1     158
1        20181118  CS008415000097  P070701017         1      81
2        20170712  CS028414000014  P060101005         1     170
4        20180821  CS025415000050  P060102007         1      90
5        20190605  CS003515000195  P050102002         1     138
...           ...             ...         ...       ...     ...
104671   20180131  CS010414000008  P060103003         1     150
104673   20181217  CS004515000066  P059001016         1     308
104674   20190911  CS046415000017  P070703003         1      98
104678   20170311  CS040513000195  P050405003         1     168
104679   20170331  CS002513000049  P060303001         1     148

[65682 rows x 5 columns]

In [8]:
df = df_receipt_only_member.groupby("customer_id")
x = df["amount"].sum().mean()
y = df["amount"].sum()
y[y >= x][:5]

customer_id
CS001115000010    3044
CS001205000006    3337
CS001214000009    4685
CS001214000017    4132
CS001214000052    5639
Name: amount, dtype: int64

---
## 問6. DataFrameの結合
> P-038: 顧客データフレーム（df_customer）とレシート明細データフレーム（df_receipt）から、各顧客ごとの売上金額合計を求めよ。ただし、買い物の実績がない顧客については売上金額を0として表示させること。また、顧客は性別コード（gender_cd）が女性（1）であるものを対象とし、非会員（顧客IDが'Z'から始まるもの）は除外すること。なお、結果は先頭5件だけ表示せよ。

In [9]:
df_customer_only_member = df_customer[~df_customer["customer_id"].str.startswith("Z")]
df_customer_only_member = df_customer.query("not customer_id.str.startswith('Z')", engine="python")

In [28]:
df_1 = pd.merge(df_customer_only_member, df_receipt_only_member, on= "customer_id", how = "left")
df_1 = df_1[df_1["gender_cd"] == 1]
df_1 = df_1.fillna(0)
df_1 = df_1.groupby("customer_id")[["amount"]].sum()
df_1[:5]

                amount
customer_id
CS001112000009     0.0
CS001112000019     0.0
CS001112000021     0.0
CS001112000023     0.0
CS001112000024     0.0

---
## 問7. 時系列データ
> P-046: 顧客データフレーム（df_customer）の申し込み日（application_date）はYYYYMMD形式の文字列型でデータを保有している。これを日付型（dateやdatetime）に変換し、顧客ID（customer_id）とともに抽出せよ。なお、データは先頭5件を表示せよ。

In [11]:
df_customer["application_date"] = pd.to_datetime(df_customer["application_date"])
df_customer[:5]

,customer_id,customer_name,gender_cd,gender,birth_day,age,postal_cd,address,application_store_cd,application_date,status_cd
0,CS021313000114,大野 あや子,1,女性,1981-04-29,37,259-1113,神奈川県伊勢原市粟窪**********,S14021,1970-01-01 00:00:00.020150905,0-00000000-0
1,CS037613000071,六角 雅彦,9,不明,1952-04-01,66,136-0076,東京都江東区南砂**********,S13037,1970-01-01 00:00:00.020150414,0-00000000-0
2,CS031415000172,宇多田 貴美子,1,女性,1976-10-04,42,151-0053,東京都渋谷区代々木**********,S13031,1970-01-01 00:00:00.020150529,D-20100325-C
3,CS028811000001,堀井 かおり,1,女性,1933-03-27,86,245-0016,神奈川県横浜市泉区和泉町**********,S14028,1970-01-01 00:00:00.020160115,0-00000000-0
4,CS001215000145,田崎 美紀,1,女性,1995-03-29,24,144-0055,東京都大田区仲六郷**********,S13001,1970-01-01 00:00:00.020170605,6-20090929-2

---
## 問8. 関数
> P-061: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、合計した売上金額を常用対数化（底=10）して顧客ID、売上金額合計とともに表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、結果は先頭5件を表示せよ。

In [12]:
df_2 = df_receipt.groupby("customer_id")[["amount"]].sum()
df_2.assign(amount_log = np.log10(df_2["amount"]))[:5]

                amount  amount_log
customer_id
CS001113000004    1298    3.113275
CS001114000005     626    2.796574
CS001115000010    3044    3.483445
CS001205000004    1988    3.298416
CS001205000006    3337    3.523356

---
## 問9. 欠損数
> P-079: 商品データフレーム（df_product）の各項目に対し、欠損数を確認せよ。

In [13]:
df_product.isnull().sum()

product_cd            0
category_major_cd     0
category_medium_cd    0
category_small_cd     0
unit_price            7
unit_cost             7
dtype: int64

---
## 問10. 欠損値の除去
> P-080: 商品データフレーム（df_product）のいずれかの項目に欠損が発生しているレコードを全て削除した新たなdf_product_1を作成せよ。なお、削除前後の件数を表示させ、前設問で確認した件数だけ減少していることも確認すること。

In [14]:
df_product_1 = df_product.dropna()

In [15]:
len(df_product), len(df_product_1)

(10030, 10023)

In [16]:
df_product

,product_cd,category_major_cd,category_medium_cd,category_small_cd,unit_price,unit_cost
0,P040101001,4,401,40101,198.0,149.0
1,P040101002,4,401,40101,218.0,164.0
2,P040101003,4,401,40101,230.0,173.0
3,P040101004,4,401,40101,248.0,186.0
4,P040101005,4,401,40101,268.0,201.0
...,...,...,...,...,...,...
10025,P091503001,9,915,91503,280.0,210.0
10026,P091503002,9,915,91503,680.0,510.0
10027,P091503003,9,915,91503,1080.0,810.0
10028,P091503004,9,915,91503,1130.0,848.0
10029,P091503005,9,915,91503,1280.0,960.0

---
## 問11. 欠損値の穴埋め
> P-081: 単価（unit_price）と原価（unit_cost）の欠損値について、それぞれの平均値で補完した新たなdf_product_2を作成せよ。なお、平均値について1円未満は四捨五入とせよ。補完実施後、各項目について欠損が生じていないことも確認すること。

In [17]:
a = df_product["unit_price"].mean()
b = df_product["unit_cost"].mean()
df_product_2 = df_product.fillna({"unit_price": a , "unit_cost": b})
df_product_2.isnull().sum()

product_cd            0
category_major_cd     0
category_medium_cd    0
category_small_cd     0
unit_price            0
unit_cost             0
dtype: int64